body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #1a161d;
    flex-direction: column;
}

header {
    width: 40%;
    height: 100%;
    padding: 0.5rem;
    border-bottom: 1px solid #eaeaea;
}

header > nav > ul, .btns, .title {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style-type: none;
}

.btns {
    margin-left: auto;
}

.parag, .anchor {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.title {
    text-decoration: none;
}


* {
    margin: 0;
    padding: 0;
}


/* score */
.score {
    display: none;
}

.score_txt {
    font-size: 2rem;
    color: white;
    font-family: 'Roboto', sans-serif;
}



/* The css below is for character container, 
 *
 *
 *
*/ 
#character-container {
    justify-content: center;
    align-items: center;
    display: flex;
    /* height: 100vh; */
    padding-top: 5rem;
    flex-direction: column;
}

#character-container img {
    height: 30rem;
    width: auto;
}

#character-container input {
    margin-top: 2rem;
    height: 3rem;
    width: 25rem;
    background-color: #3b3b3b4f;
    border: none;
    color: white;
    border-style: none;

    box-shadow: #64646441 0px 0px 10px 0px;
}

#character-container input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

#character-container p {
    font-size: 1.5rem;
    color: white;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
}


/* The CSS below is for the modal, the
 * modal is a pop up that appears when the user
 * initially loads the page, giving user instructions and how to play the game
*/ 
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 998;
}

.modal_content {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s;
}

.game_desc {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(119, 119, 119);
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

/* The css below is related to the
 * start button in the modal
*/
.start {
    width: 30rem;
    height: 5rem;
    border-radius: 2rem;
    margin-top: 15px;;
    background-color: rgb(92, 179, 92);
    font-family: 'Roboto', sans-serif;
    border: none;

    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.85);
    }

    100% {
        transform: scale(1);
    }
}

.start_bttn_txt {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
}