body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #1a161d;
    flex-direction: column;

}

header { 
    width: 40%;
    height: 100%;
    padding: 0.5rem;
    border-bottom: 1px solid #eaeaea;

}

header > nav > ul, .btns, .title {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style-type: none;
}

.btns {
    margin-left: auto;
}

.parag, .anchor {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.title {
text-decoration: none;
}


* {
    margin: 0;
    padding: 0;
}




/* buttons css  */

.start{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    width: 30em;
    height: 5em;
    border-radius: 2em;
    background-color: rgb(48, 116, 48);
    font-family: 'Roboto', sans-serif;
    border: none;

    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);   /* translate -50% -50% is needed here as to not override the top and left % by scale */
    }
    50% {
        transform: translate(-50%, -50%) scale(1.15);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.start_bttn_txt{
    font-size: 2em;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

/* score */

.score {
    display: none;
}

.score_txt{
    font-size: 2em;
    color: white;
    font-family: 'Roboto', sans-serif;
}



/* character css */

#character-container{
    justify-content: center;
    align-items: center;
    display: flex;
    /* height: 100vh; */
    padding-top: 5em;
    flex-direction: column;
}

#character-container img{
    height: 30em;
    width: auto;
}

#character-container input{
    margin-top: 5em;
    height: 2em;
    width: 20em;
    background-color: #0a1359;
    border: none;
    color: white;
}

#character-container input::placeholder{
    font-family: 'Roboto', sans-serif;
    
}

#character-container p{
    font-size: 1.5em;
    color: white;
    padding: 1em;
    font-family: 'Roboto', sans-serif;
}
