body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #1a161d;
    flex-direction: column;

}

header { 
    width: 40%;
    height: 100%;
    padding: 0.5rem;
    border-bottom: 1px solid #eaeaea;

}

header > nav > ul, .btns, .title {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style-type: none;
}

.btns {
    margin-left: auto;
}

.parag, .anchor {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.title {
text-decoration: none;
}





* {
    margin: 0;
    padding: 0;
}

/* buttons css  */


.start{
    width: 30em;
    height: 5em;
    margin-top: 100%;

}
/* character csse */
#character-container{
    justify-content: center;
    align-items: center;
    display: flex;
    /* height: 100vh; */
    padding-top: 5em;
    flex-direction: column;
}
#character-container img{
    height: 30em;
    width: auto;
}
#character-container input{
    margin-top: 5em;
    height: 2em;
    width: 20em;
    background-color: #0a1359;
    border: none;
    color: white;
}
#character-container input::placeholder{
    font-family: 'Roboto', sans-serif;
    
}

#character-container p{
    font-size: 1.5em;
    color: white;
    padding: 1em;
    font-family: 'Roboto', sans-serif;
}

main div h4,p{
    color: white;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    padding: 1em;
}