/* General CSS for the game, includes the entire page
 * includes the background darkening effect on splash screen
 * and the splash screen itself
*/
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a161d;
    flex-direction: column;
}

.darken_bg {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;

    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 998;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.splash_content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s;
    position: relative;
}

/* The css below is for the settings / leaderboard splash
 * screen, e.g. line creation
*/

.close_container {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 2px;
    background-color: gray;
    position: absolute;
    top: 50%;
    left: 0;
    pointer-events: none;
}



/* The css below is for displaying
 * the navbar of the game
*/

header {
    width: 40%;
    height: 100%;
    padding: 0.5rem;
    border-bottom: 1px solid #eaeaea;
}

header > nav > ul, .btns, .title {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style-type: none;
}

.btns {
    margin-left: auto;
}

.parag, .anchor {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.title {
    text-decoration: none;
}

/* The css below is for 
 * score, shows the user their streak
*/
.score {
    display: none;
}

.score_txt {
    font-size: 2rem;
    color: white;
    font-family: 'Roboto', sans-serif;
}


/* The css below is for character container, 
 * this is for playing the game generating the characters 
 * and input to enter the guesses 
*/ 

.character-container {
    justify-content: center;
    align-items: center;
    display: flex;
    height: auto; 
    width: 100vw; 
    flex-direction: column;
    overflow: auto; 
}

.character-container img {
    height: 80vh;
    width: auto;
}

.character-container input {
    margin-top: 10px;
    height: 50px;
    width: 320px;
    background-color: #3b3b3b4f;
    border: none;
    color: white;
    border-style: none;
    box-shadow: #64646441 0px 0px 10px 0px;
}

.character-container input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

.character-container p {
    font-size: 1.5rem;
    color: white;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}



/* The css below is for the splash screen that
 * that appears on game load
*/

.game_desc {
    font-size: 1rem;
    color: rgb(119, 119, 119);
    font-weight: 550;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

.game_desc_title {
    font-size: 2rem;
    color: rgb(95, 95, 95);
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }    
}

.choose_mode_div {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.choice:nth-child(1) {
    border-radius: 5px 0 0 5px
}

.choice:nth-child(3) {
    border-radius: 0 5px 5px 0
}

.choice {
    width: 30%;
    height: 50px;
    border: none;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: rgb(100, 100, 100);
}

.start {
    width: 100%;
    height: 100px;
    border-radius: 2rem;
    margin-top: 15px;
    background-color: rgb(92, 179, 92);
    font-family: 'Roboto', sans-serif;
    border: none;

    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

    animation: pulse 2s infinite;
}

.start_bttn_txt {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
}